<div class="container">
  <h1>/PARIS</h1>
  <div class="list-trips">
    <% @trips_day.each do |day, trips| %>
    <div class="date">
      <h3><%= day.strftime('%v') %></h3>
    </div>
    <% for trip in trips %>

    <div class="list-cards">
      <%= link_to trip_path(trip) do %>
      <%= render "shared/cardtrip", trip: trip %>
      <% end %>
    </div>

    <% end %>
    <% end %>
    <div class="list-calendar">
     <!-- <div class='calendar' ng-controller='calendarController as calendar'>
      <div class='calendar_left'>
        <div class='header'>
          <i class='material-icons' ng-click='calendar.prev()'><</i>
          <h1>August</h1>
          <i class='material-icons' ng-click='calendar.next()'>></i>
        </div>
        <div class='days'>
          <div class='day_item'>Mon</div>
          <div class='day_item'>Tue</div>
          <div class='day_item'>Wed</div>
          <div class='day_item'>Thu</div>
          <div class='day_item'>Fri</div>
          <div class='day_item'>Sat</div>
          <div class='day_item'>Sun</div>
        </div>
        <div class='dates'></div>
      </div>
    </div> -->
  </div>
</div>
</div>
