// Define variables for your color scheme

// For example:
$red: #ED2F2F;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FF7461;
$green: #00CD81;
$gray: #606075;
$light-gray: #F4F4F4;
$black: #3E3D4B;
$calypso: #00BFA5;
