// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Define fonts for body and headers
$body-font: "Helvetica-light", "Helvetica", "sans-serif";
$headers-font: "Lato", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines

@font-face {
  font-family: 'Gotham-black';
  src: font-url('Gotham/gotham-black-webfont.eot');
  src: font-url('Gotham/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('Gotham/gotham-black-webfont.woff') format('woff'),
       font-url('Gotham/gotham-black-webfont.ttf') format('truetype');
}


@font-face {
  font-family: 'Helvetica-light';
  src: font-url('Helvetica/helveticaneue-light-webfont.eot');
  src: font-url('Helvetica/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('Helvetica/helveticaneue-light-webfont.woff') format('woff'),
       font-url('Helvetica/helveticaneue-light-webfont.ttf') format('truetype');
}
