// Specific CSS for your home-pa
// header:after {
//     background-image: radial-gradient(95% 170px at 50% -5px, transparent 99%, #fff 100%);
//     height: 230px;
//     width: 100%;
//     display: block;
//     content: '';
//     margin-top: -200px;
//     z-index: 999;
// }


header .navbar-wagon {
  background-color: rgba(255, 255, 255, 0);
  .logo-nav{
    color: white;
  }
}

header .header-content{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header:after{
  // background-image:  radial-gradient(87% 173px at 23% -5px, transparent 99%, white 100%);
  background-image: radial-gradient(95% 170px at 50% -5px, transparent 99%, #fff 100%);
  height: 270px;
  width: 100%;
  display: block;
  content: "";
  margin-top: 120px;
  z-index: 999;
}

@media (max-width:410px) {
  header:after{
    height: 250px;
    width: 100%;
    display: block;
    content: "";
    margin-top: 0;
    z-index: 999;
  }
}

.logo-nav{
  span{
    color: $calypso;
  }
}

.explore-btn {
  text-align: center;
  margin: auto;
}

//couleur input
.explore-btn input::placeholder {
  color: white;
}

// actions
.actions-demo .action-container, .create-container {
  margin-bottom: 5%;
  padding: 0 20%;
}


.action-container {
  width: 100%;
  // height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-image: url(image-path("calypso-range.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (max-width:410px){
  .actions-demo .action-container {
    margin-bottom: 25%;
  }
}
.action-container h2 {
  font-size: 1.8em;
}

.action-container p {
  font-size: 1.2em;
}

.action-text{
  display: flex;
  flex-direction: column;
}

// .action-illustration  {
//   // height: 100%;
//   // max-height: 50vh;
//   width: 100%;
//   max-width: 30vw;
// }

.iphone img {
  max-height: 50vh;
}

.mac img{
  max-height: 30vh;
}

.action-text {
  h3{
    color: $calypso;
    font-size: 2em;
  }
  p{
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

.action-illustration{
  display: flex;
  justify-content: center;
  width: 50%;
}

@media (min-width: 1020px){
  .action-container{
    min-height: 35em;
  }
  .action-text {
    max-width: 28em;
  }
}

.join-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color:#30a87a;
  background:url("https://images.unsplash.com/photo-1481531016920-bdc05fe6b9a8?auto=format&fit=crop&w=2850&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
}
.join-us:after{
  background-image: radial-gradient(500% 214px at -366% -6px, transparent 99%, #fff 100%)
}

.progression{
  height: 50vh
}

// OLD ----------------------------------------------------------------------
.shadow-demo {
  // box-shadow: 5px 45px 73px -24px rgba(0,0,0,0.42);
}

@media (max-width: 600px) {
  .action-container {
    flex-direction: column;
    // height: 100vh;
    div{
      margin: 10% auto;
    }
  }
}
.mail-collector {
  display: flex;
  flex-direction: row;
}

.mail-collector input {
  border: solid 3px #FF0041 ;
  color: white;
  background-color: rgba(255, 116, 97, 0);
  font-family: 'Lato';
  font-size: 14;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 6px 28px;
}

.send {
  border-radius: 0 !important;
  border-left: none !important;
}

