.list-trips {
  width: 100%;
  position: relative;
  min-height: 70vh;
  position: relative;
}

.list-cards {
  width: 70%;
}

.list-calendar {
  position: absolute;
  top: 275px;
  right: 200px;
  position: fixed;
}

.cont-search {
  // background-image: url(image-path("search.jpeg"));
  background-color: $gray;
  width: 100vw;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
