.list-trips {
  width: 75%;
  min-height: calc(100vh - 420px);
}


.list-calendar {
  width: 20%;
}

.list-index {
  display: flex;
  justify-content: space-between;
}

#datepicker {
  display: flex;
  justify-content: center;
  padding: 35% 0 20% 0;
}
;
@media screen and (max-width: 1200px) {
  .list-index {
    flex-direction: column-reverse;
  }

  .list-trips {
    width: 100%;
  }

  .list-calendar {
    width: 100%;
  }

  #datepicker {
    padding: 35px;
  }
}

.u-add-margin-bottom {
  margin-bottom: 5px;
}

.u-add-padding-top {
  padding-top: 10px;
}

.u-font-size-16 {
  font-size: 16px;
  padding: 4px 12px !important;
}

.FB-messenger-sign-in {
  margin-top: 50px;
}

.fbmessenger {
  margin-top: 20px;
  margin-bottom: 10px;
}
