.flex-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #DDD;
}

.image-login {
  height: calc(100vh - 70px);
  width: 120%;
  background: url(image-path("surfer.jpg"));
  background-size: cover;
  background-position: center;
}

.margin-auto {
  margin: 0 auto;
  & h3 {
    margin-bottom: 30px;
  }
}

.login-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .image-login { display: none; }

  .login-content {
    margin-top: 150px;
  }
}
