.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dashboard-trips {
  width: 70%;
  height: 50vh;
}

.dashboard-notifications {
  width: 30%;
  height: 50vh;
  padding-left: 5%;
  border-left: 1px solid RGB(224, 228, 228);
}

.img-random {
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}

.img-small {
  height: 35px;
  width: 35px;
}


.u-flex-grow {
  flex-grow: 1;
  padding-right: 10px;
}

.u-text-align-right {
  text-align: right;
}

.u-font-size-bigger {
  font-size: 25px;
  line-height: 25px;
}

.u-color-light-grey {
  color: RGB(233, 233, 233);
}

.u-margin-top {
  margin-top: 30px;
}

