<div class="footer">
  <div class="footer-logo">
    Calypso
  </div>
  <div class="footer-links">
    <a href="">About</a>
    <a href="">Terms</a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
</div>
