<div class="footer" id="two">

    <div class="footer-links">
      <a href="">About</a>
      <a href="">Terms</a>
      <a class="to-be-announce"><i>Shop</i></a>
    </div>
        <div class="logo-footer">
      CALYPSO<span>/</span>
    </div>
    <div class="footer-links social">
      <a href="http://bit.ly/calypso-insta"><i class="fab fa-instagram"></i></a>
      <a href="http://bit.ly/calypso-fb"><i class="fab fa-facebook"></i></a>
    </div>
</div>

