<nav class="nav-dashboard">
  <ul class="list-inline align-items">
    <%= link_to dashboard_users_path do %>
    <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
    <% end %>
    <%= link_to mybookings_users_path do %>
    <i class="fa fa-calendar-o" aria-hidden="true"></i> Bookings
    <% end %>
    <%= link_to mytrips_users_path do %>
    <i class="fa fa-hand-peace-o" aria-hidden="true"></i> Host
    <% end %>
    <%= link_to mymessages_users_path do %>
    <i class="fa fa-comments-o" aria-hidden="true"></i> Messages
    <% end %>
   </ul>
 </nav>
