<header class="heropanel--video" data-vide-bg="mp4: https://res.cloudinary.com/dyub4bz6x/video/upload/v1503833173/banner-calypso_br9sj1.mp4", poster: https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">
  <div class="heropanel__content">
    <h1>JOIN A TRIP ,</h1>
    <h1>MEET SURFERS,</h1>
    <h1>CREATE ADVENTURES</h1>
  </div>
  <!-- searchbar -->
  <%= render 'shared/search' %>
</header>
<div class="block-center">
</div>
<!-- join  -->
<div class="map-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-4">
        <h3><i class="fa fa-search" aria-hidden="true"></i>
        FIND A TRIP</h3>
        <p>Find people who share your passion <br> and escape the city for a surf <br> session</p>
      </div>
    </div>
  </div>
</div>


<div class="create-container">
  <div class="bg">
  </div>
  <div class="white-bg text-center">
    <h3>
      <i class="fa fa-plus" aria-hidden="true"></i>
      CREATE A TRIP
    </h3>
    <p>
    Organize your own trip and connect with <br> a community of thousands of <br> surf enthusiasts
    </p>
  </div>
</div>
<div class="block-center">
</div>




