<div class="container-login">
  <div class="flex-login">
    <div class='login-content'>
      <div class="margin-auto">
        <h3>Log in/</h3>
         <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), {:class=>"btn-facebook btn-lg btn-fb"}  %>
      <% end -%>
      <% end -%>
      </div>
    </div>
    <div class="image-login"></div>
  </div>
</div>
