
.btn-primary {
  border: solid 2px rgba(255, 116, 97, .90);
  color: rgba(255, 116, 97, .90);
  background-color: rgba(255, 116, 97, 0);
  font-family: 'Lato';
  font-size: 14;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 6px 28px;
  margin: 1%
}

.btn-primary:hover {
  border: solid 2px rgba(255, 116, 97, 1.0);
  color: white;
  background-color: rgba(255, 116, 97, 1.0);
}

.btn-info {
  border: solid 2px RGBA(62, 61, 75, .90);
  color: RGBA(62, 61, 75, .90);
  background-color: RGBA(62, 61, 75, 0);
  font-family: 'Lato';
  font-size: 14;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 6px 28px;
  margin: 1%
}

.btn-info:hover {
  border: solid 2px RGBA(62, 61, 75, 1.00);
  color: white;
  background-color: RGBA(62, 61, 75, 1.00);
}

.btn-accept {
  min-width: 55px;
  color: green;
  background-color: white;
  border: 2px solid green;
  border-radius: 15px;
  padding: 4px 10px;
  margin: 0 auto;
  opacity: .7;
  margin-bottom: 5px;
}

.btn-accept:hover{
  color: white;
  background-color: green;
  border: 2px solid green;
  opacity: 1;
}

.btn-decline {
  min-width: 55px;
  color: red;
  background-color: white;
  border: 2px solid red;
  border-radius: 15px;
  padding: 4px 10px;
  margin: 0 auto;
  opacity: .7;
}

.btn-decline:hover{
  color: white;
  background-color: red;
  border: 2px solid red;
  opacity: 1;
}
