
.btn-primary {
  border: solid 2px rgba(255, 116, 97, .90);
  color: rgba(255, 116, 97, .90);
  background-color: rgba(255, 116, 97, 0);
  font-family: 'Lato';
  font-size: 14;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 6px 28px;
  // margin: 1%
}

.btn-primary:hover {
  border: solid 2px rgba(255, 116, 97, 1.0);
  color: white;
  background-color: rgba(255, 116, 97, 1.0);
}

.btn-info {
  border: solid 2px RGBA(62, 61, 75, .90);
  color: RGBA(62, 61, 75, .90);
  background-color: RGBA(62, 61, 75, 0);
  font-family: 'Lato';
  font-size: 14;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 6px 28px;
  margin: 1%
}

.btn-info:hover {
  border: solid 2px RGBA(62, 61, 75, 1.00);
  color: white;
  background-color: RGBA(62, 61, 75, 1.00);
}

.btn-full-width {
  width: 100%;
}

.btn-facebook {
  border: 2px solid $blue;
}

.btn-facebook:hover {
  background-color: $blue;
  border: 2px solid $blue;
}

.btn-accept {
  min-width: 55px;
  color: rgba(255, 116, 97, .90);
  background-color: white;
  border: 2px solid rgba(255, 116, 97, .90);
  border-radius: 5px;
  padding: 4px 10px;
  opacity: .7;
}

.btn-accept:hover{
  color: white;
  background-color: rgba(255, 116, 97, 1);
  border: 2px solid rgba(255, 116, 97, 1);;
  opacity: 1;
}

.btn-decline {
  min-width: 55px;
  color: rgb(190, 190, 190);
  background-color: white;
  border: 2px solid rgb(190, 190, 190);;
  border-radius: 5px;
  padding: 4px 10px;
  opacity: .7;
}

.btn-decline:hover{
  color: white;
  background-color: rgb(190, 190, 190);
  border: 2px solid rgb(190, 190, 190);
  opacity: 1;
}

