.date {
  margin-top: 30px;
}

.trip h3{
  margin-bottom: 0px;
}

.trip {
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  display: flex;
  justify-content: space-between;
  max-width: 900px;
}

.trip-participant {
  padding: 0px 10px 0px 10px;
}

.trip .time {
  flex: 0 0 15%;
  padding: 5px;
}

.trip .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.trip .small {
  width: 25px;
  height: 25px;
}


.trip .body {
  flex: 1 0 auto;
  padding: 0px 5px 0px 5px;
  width: 100%;
}

.trip .body .title{
  display: flex;
  justify-content: space-between;
}

.trip h3{
  margin-top: 0px;
  margin-bottom: 0px;
}


.trip .body .title .destination {
  padding-bottom: 5px;
}

.trip .body .participant {
  margin: 0 0 0px;
}

.trip .body .title .badge{
  background: $black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.trip .detail {
  padding-bottom: 5px;
  padding-right: 5px;
}

.trip .limit{
  overflow: hidden;
  max-height: 5em;
}

.trip .body .text-message {
  margin: 0 0 0px;
}

.trip .weather {
  background-color: $light-gray;
  flex: 0 0 20%;
  padding: 5px;
}

.trip .status {
  flex: 0 0 20%;
  padding: 5px;
}

.icon {
  font-size: 3em;
}

