.card-trip {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px 20px 8px 15px;
  border-radius: 2px;
  border: 1px solid RGB(220, 220, 220);
  margin: 20px 0;
  align-items: center;
  background: RGB(255, 255, 255);
  & p {
    margin: 0 0 3px !important;
  }
}

.float-right {
  float: right;
}

.card-trip__time {
  align-self: flex-start;
}

.u-flex-grow {
  padding-left: 20px;
  flex-grow: 1;
}

.u-add-padding-left {
  padding-left: 20px;
}

.category {
  border-radius: 3px;
  color: white !important;
  padding: 2px 6px;
  margin-left: 10px;
  font-size: 12px;
  max-height: 42px;
}

.category p {
  text-transform: uppercase;
  margin-bottom: 0;
}


.category-background-orange {
  background: RGB(115, 204, 215);
}

.category-background-purple {
  background: RGB(117, 157, 218);
}

.category-background-green {
  background: RGB(20, 104, 136);
}

.u-font-big {
  font-size: 35px;
  padding: 0 10px;
}

.u-color-font-orange {
  color: $orange;
}

.card-border {
  border: 1px solid RGB(224, 224, 224);
  border-radius: 2px;
  margin-bottom: 20px;
}

.card-dashboard__trip {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 20px;
  align-items: center;
}

.list-requests {
  display: flex;
  width: 90%;
  align-items: center;
  padding: 20px 10px;
  margin: auto;
  border-top: 1px solid RGB(239, 241, 241);
}

.u-width-20 {
  width: 20%;
}

.u-add-padding {
  padding: 0 20px 0 10px;
}

.u-add-margin-top {
  margin-top: 50px;
}

.u-font-bolder {
  font-weight: bolder;
  font-size: 16px;
}


#card-info-trip .btn {
  padding: 0 !important;
}

#info-participant p {
  font-size: 12px;
  margin: 0 !important;
}

#message-participant p {
  font-size: 12px;
}

.display-flex {
  display: flex;
  align-items:center;
}

.font-size-14 p {
  font-size: 14px !important;
}

.notification {
  height: 30px;
  font-family: 'lato';
  width: 100%;
  font-weight: bolder;
  padding: 4px 10px;
  border-radius: 2px;
  background: $orange;
  color: white;
  margin-right: 7px;
}


.display-flex-end {
  display: flex;
  align-items: flex-end;
}

.card-trip__weather {
  width: 50%;
}

.weather-icon-size {
  width: 17px;
  height: 17px;
}

.weather {
  display: flex;
}


.u-add-padding-left-15 {
  padding-left: 15px;
}



@media screen and (max-width: 700px) {
  .card-trip {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15px;
  }

  .card-trip__time {
    padding-left: 10px;
  }

  .card-trip__weather {
    width: 100%;
    padding-left: 10px;
  }

  .float-right {
    float: left !important;
  }

  #card-info-trip {
    float: left !important;
    width: 100% !important;
    padding-left: 10px !important;
  }
}
