.status-color-booking {
  top: 0;
  left: 0;
  position: absolute;
  width: 7px;
  height: 100%;
  background: $green;
}

.status-wording-booking {
  top: 15px;
  right: 5px;
  position: absolute;
  width: 90px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.color-green {
  color: $green;
  font-family: "lato";
  font-weight: bolder;
}

.font-size-30 {
  font-size: 30px;
}

.u-add-padding-right {
  padding-right: 10px;
}

.card-dashboard__booking {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px 20px 8px 20px;
  border-radius: 2px;
  border: 1px solid RGB(220, 220, 220);
  margin: 20px 0;
  align-items: center;
  background: RGB(255, 255, 255);
  position: relative;
}

.card-dashboard__booking a {
  width: 80%;
}

.u-display-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-display-flex {
  display: flex;
  align-items: center;
}

.u-padding {
  padding: 10px 0;
}

.card-dashboard__booking h4 {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.card-booking__options {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 5px;
  height: 20px;
  text-align: right;
  width: 30px;
  &:hover {
  cursor: pointer;
  }
}

.card-booking__options-menu {
  position: absolute;
  top: 40px;
  right: -30px;
  border: 1px solid RGB(220, 220, 220);
  border-radius: 2px;
  padding: 15px 20px;
  background: RGB(255, 255, 255);
}

.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid RGB(220, 220, 220);
  margin-bottom: 10px;
}
