.footer {
  display: flex;
  width: 80vw;
  margin: auto;
  background: RGB(255, 255, 255);
  justify-content: space-between;
  height: 150px;
  padding-top: 50px;
  color: RGB(112, 111, 131);
}
.footer-links {
  display: flex;
}
.footer-links a {
  color: RGB(112, 111, 131);
  opacity: 1;
  font-size: 16px !important;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.6;
}


@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 100px;
    align-items: center;
    padding-bottom: 50px;
  }

  .footer-links {
    margin-top: 20px;
  }
}
