.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 8% 0;
  background: RGB(255, 255, 255);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: black;
  justify-content: center;
}
.footer-links {
  display: flex;
  justify-content: center;
}
.footer-links a {
  color: RGB(112, 111, 131);
  opacity: 1;
  font-size: 1.4em !important;
  text-decoration: none;
  padding: 0px 10px;

  i:hover{
    color: RGB(112, 111, 131);
  }
}

.social{
  a{
    font-size: 2em !important;
    margin: 0;
  }

  .fab{
    margin:10%;
    &:hover{
      color: white;
    }
  }
}


.social{
  .fab{
    margin: 0 10px;
  }
}


.footer-links a:hover {
  // opacity: 0.6;
  color: white;
}



.logo-footer {
    font-family: "Gotham-black";
    font-size: 2em;
    color: white;
    margin: 2%;
    text-align: center
}
.logo-footer:hover span{
  color: $calypso;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 50px auto;

    .logo-footer {
      margin: 5%;
    }
  }
}
