.logo-nav {
  font-family: "Gotham-black";
  font-size: 35px;
  color: $black;
}

.logo-nav a {
  font-family: "Gotham-black";
  font-size: 35px;
  color: $black;
}

.logo-nav a:hover {
  font-family: "Gotham-black";
  font-size: 35px;
  color: $black;
  text-decoration: none;
}

a:hover, a:focus {
  color: $black;
  text-decoration: none;
}
