.comment-box {
  // margin-top: 20px;
}

.comment-box p {
}

#comments {
  margin-top: 15px;
  margin-bottom: 70px;
}

#comment_content {
  margin-top: 15px;
}

.board-outline {
  // border: 1px solid rgba(220,224,244,0.4);
  // margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.message-empty-img {
  width: 50px;
}

.message-user-image {
  position: absolute;
  top: 17px;
  left: 0;
}

.message {
  position: relative;;
  padding: 1%;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: left;
  min-height: 82px;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.message-content {
  padding-left: 38px;
  text-align: left;
}

.message-userspace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.message-name {
  padding-left: 38px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.message-name h3 {
  font-size: 13px;
  white-space: nowrap;
  margin: auto;
  margin-right: 20px;
}
.message-name p {
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  opacity: 0.6;
  margin-left: 0 3%;
  // letter-spacing: 0.5px !important;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 2px 0;
}

// .message-name p {
//   margin-bottom: 0;
//   margin-left: 2%;
//   white-space: nowrap;
// }

.text-current-user {
  color: $gray;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  font-size: 12px;
}

.text-host {
   color: $green;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  font-size: 12px;
}

.text-grey {
  color: $gray;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
