
.search {
  width: 100%;
}

.search .form-group-navbar-home {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.search .form-group-navbar-button {
  width: 40px;
}
.search .form-group {
  width: 50%;
  margin: 0 auto;
}

.search .searchbar {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  text-align: center;
  letter-spacing: 2.6px;
  color: white;
  background-color: rgba(250, 250, 250, 0);
  border:solid white;
  border-width: 2px 0px 2px 2px;
  border-radius: 2px;
  padding: 8px 20px;
  margin: 0 auto;
}

.search .input-group-addon {
  background-color: rgba(250, 250, 250, 0);
  border: solid white;
  border-width: 2px 2px 2px 0px;
  border-left: 1px solid white;
  border-radius: 2px;
}


.search i {
  color: white;
}

.search-bar:focus {
  background: RGBA(255, 255, 255, 0.3)
}

#index-search {
  margin-top: 100px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  #index-search {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}


#search-box {
  height: 50px !important;
  font-size: 35px !important;
  border: none;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  width: 50%;
}

@media screen and (max-width: 900px) {
  #search-box {
    width: 80%;
  }
}

#datepicker {
  font-family: "Lato", "sans-serif" !important;
  font-weight: 300 !important;
}

#datepicker td.active {
  color: white;
  background-color: $orange !important;
  border-color: $orange !important;
  text-shadow: 0 0 0 black !important;
}

.gotham-font {
  font-family: "Lato";
  font-weight: bolder;
   font-size: 35px;
   color: $black;
   margin-right: 10px;
}
