.heropanel--video {
    font-family:sans-serif;
    min-height: calc(100vh - 70px);
}

.heropanel__content {
  //pour slide le H1
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
//line
    // border-bottom:1px solid #FFF;
    margin:0 auto;
    max-width:50%;
    padding:22% 0 2em;
    text-align:center;
    color: white;
}

.heropanel__content h1 {
    margin: -4px;
    text-transform: uppercase;
    font-family: 'Lato';
    color: white;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
}

// .heropanel__content h1 a {
//     color:#FFF;
//     text-decoration:none;
//     font-family: 'Lato';
//     font-weight: 700;
// }

.heropanel__content p {
    color:white;
    margin:0;
    text-transform:uppercase;
}
