// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

// pour retirer focus color
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: white;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0);
    outline: 0 none;
}

a{
  opacity: .7;
}
a:hover {
  text-decoration: none;
  color: $orange;
  opacity: 1;
}

body {
  background-color: white;
  color: $black;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 22px;
  color: $black;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  color: $black;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  color: $black;
  line-height: 1;
  margin: 0 5px;
  &:hover {
    color: $black;
  }
}

h6 {
  font-size: 16px;
  color: $black;
  line-height: 1;
  margin: 0 5px;
}


p {
  font-size: 14px;
  color: $gray;
  letter-spacing: 1px;
  line-height: 22px;
}

.uppercase {
  text-transform: uppercase;
}

// .footer_down {
//   min-height: calc(100vh - 270px);
// }

#icon_big {
  font-size: 2.5em;
}


