// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


h3 {
  font-size: 22px;
  color: black;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  color: grey;
  letter-spacing: 1px;
  line-height: 22px;
}
